@{
    ViewData["Title"] = "Начална страница";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0 rounded-3">
                <div class="card-header bg-primary text-white text-center">
                    <h2>Добре дошли!</h2>
                </div>
                <div class="card-body text-center">
                    <p class="lead">@ViewBag.LastVisit</p>
                </div>
            </div>
        </div>
    </div>
</div>

